.recommendationAccordion {
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--recommendationLiveBorderColor);

  &.read {
    border: 1px solid var(--recommendationBgColor);
  }

  .redisStackLink {
    margin-right: 12px;
  }
}

.wrapper,
.recommendationAccordion {
  .text {
    font: normal normal normal 14px/19px Graphik !important;
  }

  .span {
    display: inline;
  }

  .code {
    background-color: var(--euiColorLightestShade);
    border-radius: 4px;
    padding: 3px 6px;

    code {
      font-size: inherit !important;
    }
  }
}

.actions {
  display: flex;
  margin-top: 15px;
  justify-content: space-around;
  align-items: center;
  height: 48px;
}

.fullWidth {
  width: 100%;
}

.votingContainer {
  border-radius: 8px;
  background-color: var(--recommendationsBgColor) !important;
  padding: 4px 0 4px 10px;
}

.keyNameContainer {
  background-color: var(--recommendationBgColor);
}

.snoozeBtn {
  svg {
    fill: var(--recommendationBgColor) !important;
    g, circle, path {
      stroke: currentColor !important;
    }
  }
}

.accordionContent {
  .btn {
    box-shadow: none !important;
    display: block;
    margin-top: 1px;
    height: 32px !important;
    min-width: 60px !important;
    border-color: var(--highlightDotColor) !important;
    background-color: var(--highlightDotColor) !important;
    margin-bottom: 12px;

    svg path {
      fill: var(--euiColorEmptyShade);
    }
  }
}
