.fileDrop {
  display: none;
}

.uploadBtn {
  display: flex;
  cursor: pointer;
  padding: 4px 12px;
}

.emptyBtn .icon {
  width: 14px;
  height: 14px;
  margin: 2px 4px 0 0;
  color: var(--inputTextColor);
}
