@include global.insights-open(1200px) {
  .actions {
    width: auto !important;
  }
}

.actions {
  width: 370px;

  @media only screen and (max-width: 870px) {
    width: 300px;
  }

  .icon {
    color: var(--iconsDefaultColor);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.popoverContainer {
  display: flex;
  align-items: flex-start;

  .warningIcon {
    margin: 2px 6px 2px;
  }

  .popoverTitle {
    font:
      normal normal 500 13px/22px Graphik,
      sans-serif;
    color: var(--euiColorFullShade) !important;
  }

  .popoverFooter {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
  }

  .popoverDBName {
    color: var(--htmlColor);
  }
}
