.content {
  width: 575px !important;
  min-width: 575px !important;
  padding: 16px;
  text-align: center;
}

.subTitle {
  padding: 0 40px;
}

.providers {
  padding: 30px 45px 22px;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  .providerBtn {
    width: 138px !important;
    height: 105px !important;
    border-radius: 8px !important;
    background-color: var(--euiColorEmptyShade) !important;
    border-color: var(--separatorColorLight) !important;

    &.activeProvider {
      border: 2px solid var(--euiColorPrimary) !important;
    }

    svg {
      width: auto;
      height: initial;
      max-width: 44px;
    }
  }
}

.provider {
  position: relative;
}

.providerLabel {
  font-size: 10px !important;
}

.providerActiveIcon {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--euiColorPrimary);

  width: 22px;
  height: 22px;
  border-radius: 50%;
  z-index: 5;

  svg {
    width: 12px;
    height: 22px;
    fill: var(--euiColorMediumShade);

    path {
      fill: var(--euiColorEmptyShade);
    }
  }
}

.awsIcon svg > path:first-of-type {
  fill: var(--euiColorFullShade);
}

.region {
  padding: 2px 45px;
  text-align: left;

  .selectDescription {
    padding-top: 10px;
  }
}

.regionSelectItem {
  background-color: var(--euiColorLightestShade) !important;
  &:hover {
    background-color: var(--hoverInListColorLight) !important;
  }
}

.regionName {
  padding-left: 4px;
}

.footer {
  width: 100%;
  padding: 32px 46px 0 46px;
}
