.providers {
  padding: 30px 45px 22px;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  .providerBtn {
    width: 138px !important;
    height: 105px !important;
    border-radius: 8px !important;
    background-color: var(--euiColorEmptyShade) !important;
    border-color: var(--separatorColorLight) !important;

    &.activeProvider {
      border: 2px solid var(--euiColorPrimary) !important;
    }

    svg {
      width: auto;
      height: initial;
      max-width: 44px;
    }
  }
}

.providerActiveIcon {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--euiColorPrimary);

  width: 22px;
  height: 22px;
  border-radius: 50%;
  z-index: 5;

  svg {
    width: 12px;
    height: 22px;
    fill: var(--euiColorMediumShade);

    path {
      fill: var(--euiColorEmptyShade);
    }
  }
}

.awsIcon svg > path:first-of-type {
  fill: var(--euiColorFullShade);
}
