.container {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.containerPopover {
  padding: 18px;
  width: 430px;
  height: 138px;
}

.title {
  font-size: 18px;
  line-height: 24px;
}

.content {
  display: flex;
  min-height: 20px;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  bottom: 12px;
  right: 20px;
  padding-top: 8px;
  background-color: var(--euiColorEmptyShade);
}

.cancelBtn {
  margin-right: 18px;
}

.deleteApproveBtn {
  position: absolute;
  right: 18px;
  bottom: 18px;
}

.bulkDeleteSummaryButtonWrapper {
  float: right;
  margin-top: 16px;
}
