.multiSearchWrapper {
  .multiSearchInput {
    flex: 1;
    background-color: transparent !important;
    max-width: 100% !important;
    border: none !important;
    height: 100%;
    padding: 0 6px 0 10px;
    background-image: none !important;
  }

  .clearBtnTooltip {
    position: relative;
  }

  .clearButton {
    margin-left: 5px;
  }

  .autoSuggestions {
    .suggestion {
      display: flex;
      align-items: center;
      text-align: left;

      padding: 6px 10px;
      cursor: default;

      &:hover,
      &.focused {
        .suggestionRemoveBtn {
          visibility: visible;
          pointer-events: auto;
        }
      }
    }

    .suggestionText {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      flex-grow: 1;
      line-height: 1.4;
    }

    .suggestionOption {
      margin-right: 10px;
    }

    .suggestionRemoveBtn {
      flex-shrink: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  .searchButton {
    width: 24px;
    height: 24px;
    background-color: var(--euiColorSecondary);
    color: var(--euiColorPrimaryText) !important;
    border-radius: 4px;
    margin-left: 12px;

    &:hover:not(:disabled),
    &:focus,
    &:focus-within {
      background-color: var(--buttonSecondaryHoverColor) !important;
      transform: none !important;
    }

    &:hover {
      transform: none;
    }

    &:disabled {
      border: 1px solid var(--separatorColor);
      background-color: var(--euiColorLightestShade);
    }
  }
}
