:global {
  .euiPopoverTitle {
    text-transform: none !important;
  }
}

.container {
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 462px;
  height: 50px;
  background-color: var(--euiColorLightShade);
  border-radius: 20px;
  bottom: calc(9vh + 9px);
  padding-left: 5px;
}
