.container {
  padding: 12px 0;
  .text {
    color: var(--euiColorMediumShade) !important;
  }
}

.progress {
  display: inline-block;
}

.changeReport {
  max-width: 180px !important;
}

.infoIcon {
  color: var(--euiColorMediumShade);
  cursor: pointer;
}

.tooltipAnchor {
  display: inline-flex;
}
