.tooltipName {
  max-width: 200px;
}

.cell {
  overflow: hidden;
}

.tooltip {
  max-width: 200px;
}

.editableCell {
  display: flex;
  align-items: center;
  width: 100%;
}

.editLastId {
  width: 100%;
}

.editBtn {
  margin-left: 8px;
}

.idText {
  color: var(--euiColorMediumShade);
  font-size: 12px;
}

.error {
  color: var(--euiColorDanger);
  font-size: 12px;
}

.actionsHeader {
  width: 54px;
}
