

:global {
  .theme_LIGHT {
    .option_icon_0 {
      background-color: #587AB2;
    }
    .option_icon_1 {
      background-color: #6A8BC1;
    }
    .option_icon_2 {
      background-color: #97B4E3;
    }
    .option_icon_3 {
      background-color: #ADC5ED;
    }
    .option_icon_4 {
      background-color: #C6D8F7;
    }
    .option_icon_5 {
      background-color: #DEEAFF;
    }
    .option_icon_6 {
      background-color: #EAF1FF;
    }
    .option_icon_7 {
      background-color: #EFF4FF;
    }
    .option_icon_2, .option_icon_3, .option_icon_4,
    .option_icon_5, .option_icon_6, .option_icon_7 {
      color: #1A3091;
    }
  }
}
