.modal {
  background: var(--euiColorEmptyShade) !important;
  min-width: 768px !important;
  min-height: 472px !important;
  padding: 0;

  &.createDb, &.import {
    max-width: 768px !important;
    min-height: 500px !important;
  }
}
