// Hover effects for ReactVirtualized table rows
// Used by: KeyRowSize, KeyRowTTL (moveOnHoverKey), DeleteKeyPopover (showOnHoverKey)
.table {
  :global {
    .ReactVirtualized__Table__row {
      .ReactVirtualized__Table__rowColumn {
        .moveOnHoverKey {
          transition: transform ease 0.3s;

          &.hide {
            transform: translateX(-8px);
          }
        }

        .showOnHoverKey {
          display: none;

          &.show {
            display: block;
          }
        }
      }

      &:hover {
        .ReactVirtualized__Table__rowColumn {
          .moveOnHoverKey {
            transform: translateX(-8px);
          }

          .showOnHoverKey {
            display: block;
          }
        }
      }
    }
  }
}