name: Lint

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: ESLint
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        uses: ./.github/actions/install-all-build-libs

      - name: Run ESLint
        run: yarn lint

