// Styles that must remain in SCSS for className-based props
.editBtnAnchor {
  position: absolute;
  right: 4px;
}

.controls {
  padding: 2px;
  width: 48px !important;
  box-shadow: none !important;
  background-color: transparent !important;

  display: flex;
  align-items: center;
  justify-content: space-between;

  :global(.euiButtonIcon), :global(.euiToolTipAnchor) {
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;
  }
}
